.registro {
    max-width: 30rem; 
    margin: 0 auto; 
    text-align: left; 
    padding-bottom: 4rem;

    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.header{
    font-family: 'Dela Gothic One', sans-serif;
    font-size: 4.375rem;
    text-align: center;
    color: #000;;
    margin: 0.1rem 0;
    position: relative;
}
.subtitle-description{
    font-family: 'Funnel Sans', sans-serif;
    font-size: 1.205rem;
    text-align: center;
    color: #000;;
    margin: 0.1rem 0;
    position: relative;
}
.text-complement {
    font-family: 'Funnel Sans', sans-serif;
    font-size: 1.02rem;
    max-width: 30rem ;
    margin: 3rem left;
    color: #000;
}
.section-title {
    font-family: 'Funnel Sans', sans-serif;
    text-align: left;
    margin-top: 2rem;
}
.residencias, .pago-fila {
    font-family: 'Funnel Sans', sans-serif;
    display: flex;
    gap: 1rem;
}

.residencias > div {
    font-family: 'Funnel Sans', sans-serif;
    flex: 1;
}

.pago-fila > app-custom-input {
    font-family: 'Funnel Sans', sans-serif;
    flex: 1;
}

app-button { /*sin punto es selecitor de tipo (etiqueta o elemento)*/
    display: block;
    width: fit-content;
    margin: 1.5rem auto 0;
}