<div class="hero">
    <h1>{{ title }}</h1>
    <h1>{{ subtitle }}</h1>

    <app-button [textButton]="'explorar'" (buttonClick)="onButtonClick()"></app-button>
    <p>{{mensaje}}</p>

    <app-custom-input
    [inputLabel]="'¿A dónde quieres ir?'"
    [inputType]="'text'"
    [(value)]="destino"
></app-custom-input>

<p>Buscando alojamiento en: {{ destino }}</p>

@for (item of propiedades; track item.id) {
    <app-property-card [Propiedad]="item"></app-property-card>
} @empty {
    <p>No hay propiedades disponibles</p>
}
</div>