.header{
    font-family: 'Dela Gothic One', sans-serif;
    font-size: 2.375rem;
    text-align: center;
    color: #000;;
    position: relative;
}

.subtitle{
    font-family: 'Funnel Sans', sans-serif;
    font-size: 1rem;
    text-align: center;
    color: #000;;
    position: relative;
}

.pantalla { /*sin esto la imagen y el panell non tienen contenedor de altura completa*/
    position: relative;
    height: 100vh;
    overflow: hidden;
    background: white;
}

.fondo { 
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.panel {/*le da fondo gris, la posición*/
    position: absolute; /*le da posición fija abajo*/
    bottom: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    padding: 60px 20px 24px;
    background: #d9d9d9;
    border-radius: 50% 50% 0 0 / 120px 120px 0 0; /*esta verga es loq ue pone curvo njd*/
    text-align: center;
    display: flex;
    flex-direction: column; /*por estoe es que se acomodan vertical lso btns*/
    align-items: center;
    gap: 12px;
}

.header {
    font-family: 'Dela Gothic One', sans-serif;
    font-size: 2.375rem;
    text-align: center;
    color: #000;
    position: relative;
    margin: 0;
}

.subtitle {
    font-family: 'Funnel Sans', sans-serif;
    font-size: 1rem;
    text-align: center;
    color: #000;
    position: relative;
    margin: 0;
}