
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Funnel+Sans:wght@300..800&display=swap" rel="stylesheet">


@if (!mostrarRegistro) {
    <section class="pantalla">
    <img class="fondo" src="entry.jpg" alt="Fondo de bienvenida">

    <div class="panel">
        <h1 class="header">{{ title }}</h1>
        <p class="subtitle">{{ subtitle }}</p>
        <app-button [textButton]="'Iniciar sesión'" [variant]="'base-button'" (buttonClick)="onLogin()"></app-button>
        <app-button [textButton]="'Registrarse'" [variant]="'base-button'" (buttonClick)="onRegister()"></app-button>
    </div>

    </section>
        } @else {
        <app-registry-page></app-registry-page>
}


