.header{ /*clase apra especificaciones del titulo*/
    font-family: 'Dela Gothic One', sans-serif;
    font-size: 2.375rem;
    text-align: center;
    color: #000;
    margin: 0;
}

.subtitle{ /*clase apra especificaciones del titulo*/
    font-family: 'Funnel Sans', sans-serif;
    font-size: 1rem;
    text-align: center;
    color: #000;
    margin: 0 0 1.5rem 0;
}

.pantalla { /*sin esto la imagen y el panell non tienen contenedor de altura completa*/
    position: relative;
    height: 100vh;
    overflow: hidden;
    background: white;
}

.fondo { /*clase para el fondo de la imagen, para decir el tamaño y claridad*/
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.panel {/*le da fondo gris al arco, la posición*/
    position: absolute; /*le da posición fija abajo*/
    bottom: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    padding: 3.75rem 1.25rem 1.5rem;

    background: #d9d9d9;
    border-radius: 50% 50% 0 0 / 7.5rem 7.5rem 0 0; /*esta verga es loq ue pone curvo njd*/
    text-align: center;

    display: flex;
    flex-direction: column; /*por estoe es que se acomodan vertical lso btns*/
    align-items: center;
    gap: 1rem;
}
