    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Funnel+Sans:wght@300..800&display=swap" rel="stylesheet">
<!-- Contenedor principal que centra y da estilo a todo -->
<div class="registro">
    
    <!-- Encabezado y título (opcional, si quieres que aparezca siempre) -->
    <div class="header-section">
        <h1 class="header">ALOJAMIENTOS</h1>
        <p class="subtitle-description">Encuentra el lugar perfecto para ti</p>
    </div>

    <!-- Contenido dinámico según el tipo -->
    <div class="content-section">
        @switch (tipo) {
            @case ('casas') { 
                <app-houses-accommodations-page></app-houses-accommodations-page> 
            }
            @case ('apartamentos') { 
                <app-apartments-accommodations-page></app-apartments-accommodations-page> 
            }
            @case ('animales') { 
                <app-animals-accommodations-page></app-animals-accommodations-page> 
            }
            @default { 
                <div class="empty-state">
                    <p class="subtitle-description">Elige un tipo de alojamiento para comenzar</p>
                </div>
            }
        }
    </div>

    <h3 class = "text-complement">Información de contacto</h3>
    <app-custom-input [inputLabel]="'Nombre completo'" [inputType]="'text'" [inputClass]="'name'" [(value)]="nombreCompleto"></app-custom-input>
    <app-custom-input [inputLabel]="'Dirección de correo'" [inputType]="'email'" [inputClass]="'mail'" [(value)]="correo"></app-custom-input>

    <div class="residencias">
    <div>
        <h4 class = "section-title">Preferencias del alojamiento</h4>
        <app-custom-input [inputLabel]="'Ciudad'" [inputType]="'text'" [(value)]="ciudad"></app-custom-input>
        <app-custom-input [inputLabel]="'Número de huespedes'" [inputType]="'numb'" [(value)]="nHuespedes"></app-custom-input>
    </div>
    <div>
        <h4 class = "section-title">Preferencias del alojamiento</h4>
        <app-custom-input [inputLabel]="'Tipo de alojamiento'" [inputType]="'text'" [(value)]="tipoAlojamiento"></app-custom-input>
        <app-custom-input [inputLabel]="'Precio maximo'" [inputType]="'text'" [(value)]="precioMaximo"></app-custom-input>
    </div>
</div>

    <app-button [textButton]="'Confirmar datos'" [variant]="'base-button'" (buttonClick)="onConfirmar()"></app-button>
    <app-button [textButton]="'Limpiar filtro'" [variant]="'base-button'" (buttonClick)="onConfirmar()"></app-button>

</div>